<script>
  $("#{{id}}").addClass("active item");
</script>

<nav class="ui menu">
  <header class="ui header item"> <a href="/"> Game Review App </a></header>
  <div class="right menu">
    <span class="name">{{fullname}}</span>
    <a id="genres" class="item" href="/genres"> List of Genres </a>
    <a id="ceo" class="item" href="/ceo"> Ceo </a>
    <a id="about" class="item" href="/about"> About Us </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>