{{> menu id = "about" }}

<section class="ui two column grid segment">
  <div class="ui column">
      <div class="ui eight wide column">
        <img class="ui image" src="https://cdn.glitch.global/02d3bd8e-978d-4827-a005-4596acfbe815/Location.PNG?v=1647813036569">
      </div>
  </div>
     <div class="ui column">
          <h2>Welcome to Reliable Tech Solutions Ireland!</h2>
            <p>
              The main perpose of this company is to offer a reliable and affordable app development service <br> We are located in <br> If you are interested in getting an app or want to learn more about what we can offer please contact us at 087 325 1232 or email tech.solutions@gmail.com.
            </p>
  </div>
</section>