{{> menu}}

<section class="ui three column grid segment">
  <div class="ui column">
      <div class="ui eight wide column">
        <img class="ui circular image" src="https://cdn.glitch.global/02d3bd8e-978d-4827-a005-4596acfbe815/Blog_1920x10807755.jpg?v=1647338337964">
      </div>
    <br>
      <div class="ui eight wide column">
        <img class="ui circular image" src="https://cdn.glitch.global/02d3bd8e-978d-4827-a005-4596acfbe815/thumb-1920-751195.jpg?v=1647341196248">
      </div>
    <br>
    <div class="ui eight wide column">
        <img class="ui circular image" src="https://cdn.glitch.global/02d3bd8e-978d-4827-a005-4596acfbe815/dying-light-2-uhdpaper.com-8K-12.jpg?v=1647339009474">
      </div>
    <br>
  </div>
     <div class="ui column">
          <h2 class="ui header">
            Welcome to the Playlist App, {{fullname}}!
          </h2>
            <p>
              This app will allow users to create reviews for games they have played.
            </p>
            <div class="buttons">
              <button class="ui blue button">
                Read more <i class="arrow circle right icon"></i>
              </button>
              <button class="ui green button">
                Like it? <i class="thumbs up icon"></i>
              </button>
              <button class="ui red button">
                Who are you? <i class="user icon"></i>
              </button>
            </div>
          <div id="readmore" class="ui message">
            <p>
              This app was made for an assignment in Web App Development for WIT Ireland by Daniel Keane - 20098745
            </p>  
          </div>
          <div id="welcomeuser" class="ui message"> </div>
          <div class="ui divider"></div>
       <h3 class="ui center aligned header">The Game Review App currently contains:</h3>
       <div class="ui two statistics">
         <div class="ui huge statistic">
           <div class="value">
             {{totalGenres}}
           </div>
           <div class="label">
             Genres To Review!!!
           </div>
         </div>
         <div class="ui huge statistic">
           <div class="value">
             {{totalGames}}
           </div>
           <div class="label">
             Games Reviewed!!!
           </div>
         </div>
       </div>
  </div>
  <div class="ui column">
    <div class="ui eight wide column">
      <img class="ui circular image" src="https://cdn.glitch.global/02d3bd8e-978d-4827-a005-4596acfbe815/wallpapersden.com_elden-ring-key-art_3840x2160.jpg?v=1647339157884">
    </div>
    <br>
      <div class="ui eight wide column">
        <img class="ui circular image" src="https://cdn.glitch.global/02d3bd8e-978d-4827-a005-4596acfbe815/Best-Minecraft-Wallpapers-HD-Desktop-and-Mobile-Wallpapers-Buzzy-Bees-900x506.jpg?v=1647340039244">
      </div>
    <br>
    <div class="ui eight wide column">
        <img class="ui circular image" src="https://cdn.glitch.global/02d3bd8e-978d-4827-a005-4596acfbe815/dwd-1137.jpg?v=1647338349491">
    </div>
  </div>
</section>
